*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 55%;
  }
}

body {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/bg-pattern-top-desktop.svg) left top no-repeat, url(../images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #937b92;
  line-height: 1.5;
  min-height: 100vh;
}

@media only screen and (max-width: 28.125em) {
  body {
    background: url(../images/bg-pattern-top-mobile.svg) left top no-repeat, url(../images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  grid-template: [cont-start] minmax(-webkit-min-content, 30rem) [header-end rev-start] minmax(-webkit-min-content, 30rem) [cont-end]/[main-start] minmax(35rem, 55.5rem) [head-end rate-start] minmax(-webkit-min-content, 55.5rem) [main-end];
  grid-template: [cont-start] minmax(min-content, 30rem) [header-end rev-start] minmax(min-content, 30rem) [cont-end]/[main-start] minmax(35rem, 55.5rem) [head-end rate-start] minmax(min-content, 55.5rem) [main-end];
  padding: 3rem;
}

@media only screen and (max-width: 50em) {
  .container {
    -ms-grid-rows: minmax(-webkit-min-content, 20rem) (minmax(-webkit-min-content, 25rem))[2];
    -ms-grid-rows: minmax(min-content, 20rem) (minmax(min-content, 25rem))[2];
    -ms-grid-columns: (minmax(-webkit-min-content, 40rem))[2];
    -ms-grid-columns: (minmax(min-content, 40rem))[2];
        grid-template: minmax(-webkit-min-content, 20rem) repeat(2, minmax(-webkit-min-content, 25rem))/repeat(2, minmax(-webkit-min-content, 40rem));
        grid-template: minmax(min-content, 20rem) repeat(2, minmax(min-content, 25rem))/repeat(2, minmax(min-content, 40rem));
  }
}

.heading {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding-right: 8rem;
}

@media only screen and (max-width: 62.5em) {
  .heading {
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 50em) {
  .heading {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    text-align: center;
    padding-right: 5rem;
    padding-left: 5rem;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .heading {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.ratings {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  padding: 4rem 0;
}

@media only screen and (max-width: 50em) {
  .ratings {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    padding: 1.8rem 0;
  }
}

.ratings__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45rem;
  height: 5.5rem;
  background-color: #f7f2f7;
  border-radius: 1rem;
  display: flex;
}

.ratings__card--1 {
  -ms-grid-column-align: start;
      justify-self: start;
}

.ratings__card--3 {
  -ms-grid-column-align: end;
      justify-self: end;
}

@media only screen and (max-width: 28.125em) {
  .ratings__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    height: 8rem;
    margin: 1rem 0;
  }
}

.ratings__icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: #c69963;
  margin: .3rem;
}

.icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 4rem;
  -ms-grid-rows: 55rem;
      grid-template-rows: 55rem;
}

.user-reviews {
  padding-top: 3.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[3];
      grid-template-columns: repeat(3, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-column-gap: 3rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 62.5em) {
  .user-reviews {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media only screen and (max-width: 50em) {
  .user-reviews {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .user-reviews {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.review__card {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #502050;
  border-radius: 1rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 43.75em) {
  .review__card {
    margin-bottom: 3rem;
  }
}

.review__card:nth-of-type(2) {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 62.5em) {
  .review__card:nth-of-type(2) {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.review__card:nth-of-type(3) {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: end;
      align-self: end;
}

@media only screen and (max-width: 62.5em) {
  .review__card:nth-of-type(3) {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.review__user {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-grid-rows: 4rem min-content;
      grid-template-rows: 4rem -webkit-min-content;
      grid-template-rows: 4rem min-content;
  -ms-grid-columns: 4rem 1fr;
      grid-template-columns: 4rem 1fr;
  grid-row-gap: 3rem;
  grid-column-gap: 2.3rem;
  padding: 4rem 3rem;
}

.review__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.review__user-box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__user-title {
  font-size: 1.3rem;
}

.review__text {
  color: #f7f2f7;
  font-size: 1.3rem;
  line-height: 1.6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.heading-1 {
  color: #502050;
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 0;
}

@media only screen and (max-width: 62.5em) {
  .heading-1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 50em) {
  .heading-1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .heading-1 {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.heading-2--dark {
  font-size: 1.3rem;
  color: #502050;
}

.heading-2--light {
  font-size: 1.3rem;
  color: #f7f2f7;
}

.heading-3 {
  font-size: 1.3rem;
  color: #ee68a4;
}

.main__text {
  margin-top: -6rem;
  line-height: 1.5;
}

@media only screen and (max-width: 50em) {
  .main__text {
    margin-top: 0;
  }
}

.attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 4rem;
  font-size: 1.1rem;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */