// COLOURS PRIMARY
$color-primary: hsl(300, 43%, 22%);
$color-primary-pink: hsl(333, 80%, 67%);

// COLOURS NEUTRAL
$color-grey-dark: hsl(303, 10%, 53%);
$color-grey-light: hsl(300, 24%, 96%);
$color-white: #fff;

//COLOURS STARS
$color-gold: #c69963;



$bp-large: 62.5em;      // 1000px 
$bp-medium: 50em;       // 800px 
$bp-small: 43.75em;     // 700px 
$bp-xsmall: 28.125em;   // 450px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //16px

    
    @media only screen and (max-width: $bp-large) {
        font-size: 55%;
    }
    
}

body {
    display: grid;
    align-content: center;
    justify-content: center;

    background: url(../images/bg-pattern-top-desktop.svg) left top no-repeat, url(../images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;

    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: $color-grey-dark;
    line-height: 1.5;
    
    min-height: 100vh;

    @media only screen and (max-width: $bp-xsmall) {
        background: url(../images/bg-pattern-top-mobile.svg) left top no-repeat, url(../images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
    }
}

.container {
    display: grid;
    //grid-template: [cont-start] minmax(30rem, min-content) [header-end rev-start] minmax(30rem, min-content) [cont-end] / [main-start] minmax(55.5rem, min-content) [head-end rate-start] minmax(55.5rem, min-content) [main-end];
    grid-template: [cont-start] minmax(min-content, 30rem) [header-end rev-start] minmax(min-content, 30rem) [cont-end] / [main-start] minmax(35rem, 55.5rem) [head-end rate-start] minmax(min-content, 55.5rem) [main-end];
    padding: 3rem;

    @media only screen and (max-width: $bp-medium) {
        grid-template: minmax(min-content, 20rem) repeat(2, minmax(min-content, 25rem)) /  repeat(2, minmax(min-content, 40rem));
    }
}